.access-denial-container {
    max-width: 33.5rem;
    margin: 2.6875rem auto;
    text-align: center;
    font-family: $font-family-sans-serif;

    span {
        font-family: $font-family-sans-serif;
    }

    .link-back {
        &:hover {
            text-decoration: none;
        }
    }
}
