.bg {
    &-gray-lighter-alt1 {
        background: $gray-lighter-alt1;
    }
}
.cw-bg {
    &-danger {
        background: $cw-color-danger !important;
    }
    &-warning {
        background: $cw-color-warning !important;
    }
}
