$border-radius:                   0.3125rem;
$border-color:                    $gray-lignter-alt9;
// BORDER
$border-radius-base:              0.25rem;
$border-color-base:               $border-color;
