$btn-font-weight:                   $font-weight-bold;
$btn-desktop-font-size:             $font-size-regular;

$btn-line-height:                   $line-height-base;

$btn-border-width:                  0.063rem;

$btn-padding-horizontal:            $padding-base-horizontal;
$btn-desktop-padding-horizontal:    $padding-base-horizontal;

$btn-primary-hover-bg:              $teal-dark;
$btn-primary-active-bg:             $teal-dark;

$btn-success-hover-bg:              $green-dark;
$btn-success-active-bg:             $green-dark;

$btn-warning-hover-bg:              $yellow-dark;
$btn-warning-active-bg:             $yellow-dark;

$btn-danger-hover-bg:               $red-dark;
$btn-danger-active-bg:              $red-dark;
