$label-desktop-font-size:   $font-size-small;
$label-font-weight:         $font-weight-normal;
$label-border-width:        0;
$label-padding-x:           0.625rem;
$label-padding-y:           0.5rem;
$label-default-bg:          $gray-lighter;
$label-default-color:       $gray;
