$multi-step-divider-bg: #343a64;
$multi-step-divider-height: 0.156rem !default;

$multi-step-icon-active-bg: #343a64;
$multi-step-icon-border-radius: 100px !default;
$multi-step-icon-bg: white;
$multi-step-icon-font-size: 1rem;
$multi-step-icon-size: 1.875rem;

$multi-step-indicator-label-font-size: 16px;
$multi-step-indicator-label-font-weight: normal;
