$pagination-color:                  $gray;

$pagination-hover-bg:               $primary;
$pagination-hover-border:           $primary;
$pagination-hover-color:            $white;

$pagination-active-bg:              $primary;
$pagination-active-border:          $primary;
$pagination-active-color:           $white;
