$table-cell-gutters:                    $padding-base;

$table-border-color:                    $border-color-base;

$table-header-font-weight:              $font-weight-bold;
$table-header-min-height:               2.5rem;

$table-list-color:                      $gray;
$table-list-row-height:                 initial;
$table-list-row-border-color:           $border-color-base;
$table-list-row-active-border-color:    $border-color-base;
