.cursor {
    &-pointer {
        cursor: pointer;
    }

    &-auto {
        cursor: auto !important;
    }

    &-default {
        cursor: default !important;
    }

    &-not-allowed {
        cursor: not-allowed;
    }

    &-text {
        cursor: text;
    }
}
