@import 'dropzone/dropzone';
@import 'dropzone/cw-dropzone';

.cw-upload-progress {
    height: 0.7rem;
    border-radius: 0;

    .progress-bar {
        height: 0.7rem;
        border-radius: 0;
        background-color: $primary;
    }

    .disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }
}
