@include text-emphasis-variant('.text-black', $black);
@include text-emphasis-variant('.text-disabled', $gray-lighter);

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: $headings-margin-base;
    margin-bottom: ($headings-margin-base / 2);

}
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: ($headings-margin-base / 2);
    margin-bottom: ($headings-margin-base / 2);
}
