.user-icon {
    border: 1px solid $border-color-base;
    height: 24px;
    line-height: 24px;
    width: 24px;
}

.cec-user-profile {
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    width: 50px;
}
