.sf-calendar-control-wrapper {
    .e-input-group > input.e-input {
        color: $black !important;
    }
    .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left) {
        border: 1px solid $border-color-base !important;
        border-radius: 0.25rem;
        padding: .25rem .75rem;
        background: $white;
    }
    .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input) {
        &::before,
        &::after {
            background: none !important;
        }
        input::selection {
            color: $black;
            background: $white;
        }
    }
    .e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
        color: $gray;
    }
}
