.newsletter-template-list {
    .newsletter-stats-item {
        border-radius: 0.375rem;
        padding: 1.5rem !important;
        text-align: center;
    }
}

.newsletter-excerpt-block {
    .newsletter-excerpt-input {
        height: 10rem;
    }
}
