#navbar_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet {
    height: 56px;
    padding-top: 10px;
    .text-truncate {
        overflow: visible;
        padding-bottom: 5px;
    }
}
