.input--width-297 {
    width: 18.5625rem;
}

.input--width-237 {
    width: 14.8125rem;
}

.input--width-333 {
    width: 20.8125rem;
}

.input--width-100 {
    width: 6.25rem;
}

.input--width-156 {
    width: 9.75rem;
}

.input--width-200 {
    width: 12.5rem;
}

.input--width-220 {
    width: 13.75rem;
}
.input--resize-none {
    resize: none;
}
