.padding {
    &-left {
        &-0 {
            padding-left: 0 !important;
        }
        &-57 {
            padding-left: 3.563rem;
        }
        &-70 {
            padding-left: 4.375rem !important;
        }
    }
}
