.top-95 {
    top: 95% !important;
}

.top-90 {
    top: 90% !important;
}

.top-n {
    &2 {
        top: -0.125rem !important;
    }
}

.top-0 {
    top: 0 !important;
}

.top-10 {
    top: 0.625rem !important;
}

.top-2-rem {
    top: 2rem !important;
}
