.certificate-award-wrapper {
    .certificate-download-dropdown {
        position: absolute;
        right: 3.125rem;

        .dropdown-menu {
            .item-description {
                color: gray;
            }
        }

        .dropdown-control .visibility-dropdown .form-control {
            border-radius: 0.25rem !important;
            border: 1px solid lightgray;
            background-color: white;
        }
    }
}
