.cec-card-two-columns-small-left-side {
    .cec-card__header_fix_height {
        height: 3.75rem;
    }

    .cec-card__left-content {
        @include media-breakpoint-up(sm) {
            width: 17.5rem;
        }

        .cec-card__body {
            padding: 0;
        }
    }

    .cec_card__divider {
        @include media-breakpoint-down(xs) {
            height: 1.25rem;
            background-color: $white-dark !important;
        }
    }

    .cec-card__right-content {
        flex: 1;
    }
}
