&__footer--interaction {
    border-top: 1px solid $border-color-base;
    display: flex;
    justify-content: flex-end;
    padding: 15px $padding-base $padding-base $padding-base;
    margin: 1.25rem -1.25rem -1.25rem -1.25rem;
    @media (min-width: $screen-sm-min) {
        padding: $padding-base $padding-desktop-base;
    }
}
